__pycache__/
*.pyc
.DS_Store
dist/
eggs/
.eggs/
lib/
lib64/
/parts/
sdist/
var/
.installed.cfg
*.egg
*.egg-info/
*.whl
MANIFEST
*.manifest
*.spec
.cache
.ipynb_checkpoints
.pytest_cache/
pytest-cache-files-*/
.python-version
.vscode/
env/
.env/
.env
.venv/
venv/
ENV/
